# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.egg
*.egg-info/

# Distribution / packaging
.Python
.python-version
build/
dist/
lib/
include/
node_modules/

# Environments
.env
.venv
venv/
.vscode/

# Apple
.DS_Store

#  dev work
pulse.conf
NOTES

# Generated config files (should not be tracked)
config/system/syslog-ng/remote-log.conf
